
.d5
{
    height:100px;
}
.card-title{
    font-weight: 800;
}
.card-text{
    font-weight: 600;
}
span.child:hover{
    
    font-weight: 800;
}
span.child{
    font-size: 130%;
    color: grey;
    font-weight: 400;
}
.sidebar-brand-icon{
    height:50px;
    width: 160px;
    padding-top: 10px;
    border-radius: 4px;
    background-color: #ffe0e0; 
}
body{
     background-color: white;
}
.box{
    margin-top: 90px;
    margin-left: 12%;
    height: 630px;
    width: 75%;
    
}
.cardlogin{
    height: 630px;
    width: 100%;
}
.c1{
    border: 2px solid #e88935;
    height: 70px;
    width:30%;
    padding-left: -20px;
    color: #e88935;
    
}
.c2{
    border: 2px solid #55b0e6;
    height: 70px;
    width:30%;
    color: #55b0e6;
    
}

.l1{
    font-size: 150%;
    color: #e88935;
    font-weight: 800;
    
   
}
.l2{
    font-size: 150%;
    color: #55b0e6;
    font-weight: 800;
    
   
}

input[type=text], input[type=password],select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #e88935;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #e88935;
  color: white;
  padding: 14px 20px;
  margin: 16px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #e88935;
    
   
}
.sbtn:hover{
    border: 3px solid #e88935;
}
.tbtn:hover{
     border: 3px solid #55b0e6;
}


.lform{
  border-radius: 5px;
  background-color: White;
  
}
.l2form{
  border-radius: 5px;
  background-color: White;
  
}
label{
    color: #e88935;
}
.s1{
    color: #55b0e6;
    
}
.s2{
    color: #e88935;
    
}
.btnw{
    border-radius: 25px;
    background-color: #33de8b;
    color: white;
    
}
.btnw2{
    border-radius: 25px;
    background-color: #13ccd6;
    color: white;
    
}
.exps{
    height: 110px;
    width: 60%;
    background-color: #d4ffe3;
    border-radius: 5px;
}
.scrollbar{
    overflow-y: scroll;
    height: 450px;
}
#prevlectures{
    overflow-y: scroll;
    height: 200px;
}

.scrollbar::-webkit-scrollbar,#prevlectures::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track, #prevlectures::-webkit-scrollbar-track{
  box-shadow: inset 0 0 2px grey; 
  border-radius: 10px;
}
 
/* Handle */
.scrollbar::-webkit-scrollbar-thumb,#prevlectures::-webkit-scrollbar-thumb {
  background-color: gainsboro;
  border-radius: 10px;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover,#prevlectures::-webkit-scrollbar-thumb:hover {
  background: ; 
}
.sub{
    height: 290px;
    width: 100%;
    margin-top: 30px;
    border: 3px solid #70d4d4;
    
    border-radius: 10px;
    
}
.sub1{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #32b8b8;
}
.s1{
    background-color: #7bd4a6;
    color: white;

    border-top-left-radius: 5px;
    
    
}
.s2{
    background-color: #dff5e9;
    color: #7bd4a6;
    
    
}
.suba{
    height: 290px;
    width: 100%;
    margin-top: 30px;
    border: 3px solid #fc765b;
    
    border-radius: 10px;
    
}
.suba1{
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #fc765b;
}
.sa1{
    background-color: #fc765b;
    color: white;

    border-top-left-radius: 5px;
    
    
}
.sa2{
    background-color: #fce5e1;
    color: #fc765b;
    
    
}